<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanNet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>DangNhapServlet</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DanhSachKhachHangServlet</display-name>
    <servlet-name>DanhSachKhachHangServlet</servlet-name>
    <servlet-class>controller.khachhang.DanhSachKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachKhachHangServlet</servlet-name>
    <url-pattern>/DanhSachKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemKhachHangServlet</display-name>
    <servlet-name>ThemKhachHangServlet</servlet-name>
    <servlet-class>controller.khachhang.ThemKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemKhachHangServlet</servlet-name>
    <url-pattern>/ThemKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NapTienVaoTKServlet</display-name>
    <servlet-name>NapTienVaoTKServlet</servlet-name>
    <servlet-class>controller.khachhang.NapTienVaoTKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NapTienVaoTKServlet</servlet-name>
    <url-pattern>/NapTienVaoTKServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaThongTinKhachHangServlet</display-name>
    <servlet-name>SuaThongTinKhachHangServlet</servlet-name>
    <servlet-class>controller.khachhang.SuaThongTinKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaThongTinKhachHangServlet</servlet-name>
    <url-pattern>/SuaThongTinKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaKhachHangServlet</display-name>
    <servlet-name>XoaKhachHangServlet</servlet-name>
    <servlet-class>controller.khachhang.XoaKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaKhachHangServlet</servlet-name>
    <url-pattern>/XoaKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapServlet</display-name>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>controller.admin.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/DangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.admin.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangDangNhapServlet</display-name>
    <servlet-name>KhachHangDangNhapServlet</servlet-name>
    <servlet-class>controller.khachhang.KhachHangDangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangDangNhapServlet</servlet-name>
    <url-pattern>/KhachHangDangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietKhachHangServlet</display-name>
    <servlet-name>ChiTietKhachHangServlet</servlet-name>
    <servlet-class>controller.khachhang.ChiTietKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietKhachHangServlet</servlet-name>
    <url-pattern>/ChiTietKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DongPhienSDServlet</display-name>
    <servlet-name>DongPhienSDServlet</servlet-name>
    <servlet-class>controller.may.DongPhienSDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DongPhienSDServlet</servlet-name>
    <url-pattern>/DongPhienSDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangSDMayServlet</display-name>
    <servlet-name>KhachHangSDMayServlet</servlet-name>
    <servlet-class>controller.khachhang.KhachHangSDMayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangSDMayServlet</servlet-name>
    <url-pattern>/KhachHangSDMayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangNhapServlet</display-name>
    <servlet-name>dangNhapServlet</servlet-name>
    <servlet-class>controller.nhanvien.dangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangNhapServlet</servlet-name>
    <url-pattern>/dangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doiMatKhauNVServlet</display-name>
    <servlet-name>doiMatKhauNVServlet</servlet-name>
    <servlet-class>controller.nhanvien.doiMatKhauNVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doiMatKhauNVServlet</servlet-name>
    <url-pattern>/doiMatKhauNVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forWard</display-name>
    <servlet-name>forWard</servlet-name>
    <servlet-class>controller.nhanvien.forWard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forWard</servlet-name>
    <url-pattern>/forWard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LayThongTinNVServlet</display-name>
    <servlet-name>LayThongTinNVServlet</servlet-name>
    <servlet-class>controller.nhanvien.LayThongTinNVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LayThongTinNVServlet</servlet-name>
    <url-pattern>/LayThongTinNVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyNhanVienController</display-name>
    <servlet-name>QuanLyNhanVienController</servlet-name>
    <servlet-class>controller.nhanvien.QuanLyNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyNhanVienController</servlet-name>
    <url-pattern>/QuanLyNhanVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suaThongTinNVServlet</display-name>
    <servlet-name>suaThongTinNVServlet</servlet-name>
    <servlet-class>controller.nhanvien.suaThongTinNVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suaThongTinNVServlet</servlet-name>
    <url-pattern>/suaThongTinNVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyPhongServlet</display-name>
    <servlet-name>QuanLyPhongServlet</servlet-name>
    <servlet-class>controller.admin.QuanLyPhongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyPhongServlet</servlet-name>
    <url-pattern>/QuanLyPhongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyDichVuServlet</display-name>
    <servlet-name>QuanLyDichVuServlet</servlet-name>
    <servlet-class>controller.admin.QuanLyDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyDichVuServlet</servlet-name>
    <url-pattern>/QuanLyDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DichVuChoKhachHang</display-name>
    <servlet-name>DichVuChoKhachHang</servlet-name>
    <servlet-class>controller.dichvu.DichVuChoKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DichVuChoKhachHang</servlet-name>
    <url-pattern>/DichVuChoKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatHang</display-name>
    <servlet-name>DatHang</servlet-name>
    <servlet-class>controller.dichvu.DatHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatHang</servlet-name>
    <url-pattern>/DatHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHang</display-name>
    <servlet-name>DonHang</servlet-name>
    <servlet-class>controller.dichvu.DonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHang</servlet-name>
    <url-pattern>/DonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHang</display-name>
    <servlet-name>GioHang</servlet-name>
    <servlet-class>controller.dichvu.GioHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHang</servlet-name>
    <url-pattern>/GioHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyDonHang</display-name>
    <servlet-name>QuanLyDonHang</servlet-name>
    <servlet-class>controller.dichvu.QuanLyDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyDonHang</servlet-name>
    <url-pattern>/QuanLyDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToan</display-name>
    <servlet-name>ThanhToan</servlet-name>
    <servlet-class>controller.dichvu.ThanhToan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToan</servlet-name>
    <url-pattern>/ThanhToan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemVaoGioHang</display-name>
    <servlet-name>ThemVaoGioHang</servlet-name>
    <servlet-class>controller.dichvu.ThemVaoGioHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemVaoGioHang</servlet-name>
    <url-pattern>/ThemVaoGioHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyDonHang</display-name>
    <servlet-name>XuLyDonHang</servlet-name>
    <servlet-class>controller.dichvu.XuLyDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDonHang</servlet-name>
    <url-pattern>/XuLyDonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyGioHang</display-name>
    <servlet-name>XuLyGioHang</servlet-name>
    <servlet-class>controller.dichvu.XuLyGioHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyGioHang</servlet-name>
    <url-pattern>/XuLyGioHang</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>KhachHangNapTienServlet</display-name>
    <servlet-name>KhachHangNapTienServlet</servlet-name>
    <servlet-class>controller.khachhang.KhachHangNapTienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangNapTienServlet</servlet-name>
    <url-pattern>/KhachHangNapTienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongKeNapTienServlet</display-name>
    <servlet-name>ThongKeNapTienServlet</servlet-name>
    <servlet-class>controller.admin.ThongKeNapTienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongKeNapTienServlet</servlet-name>
    <url-pattern>/ThongKeNapTienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongKeSuDungDVServlet</display-name>
    <servlet-name>ThongKeSuDungDVServlet</servlet-name>
    <servlet-class>controller.admin.ThongKeSuDungDVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongKeSuDungDVServlet</servlet-name>
    <url-pattern>/ThongKeSuDungDVServlet</url-pattern>
  </servlet-mapping>
</web-app>